.wrapper {
    width: 100%;
    max-height: 100vh;
    background-color: lightcyan;
    overflow: hidden;
}

.wrapper-register {
    z-index: 0;
    position: absolute;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.register-form {
    width: 300px;
    background-color: #d9d6d6;
    padding: 12px;
    border-radius: 5px;
    margin: 7% auto auto;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 12px -5px black;
}

.register-form-button {
    width: 100%;
    box-sizing: border-box;
}

.register-form-button button {
    margin: auto;
    display: block;
    width: 100%;
}
